.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem;
}
.form-header__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 3rem;
  gap: 3rem;
}
.form-header__container h1 {
  font-size: 3.4rem;
  color: #4d6bfc;
}
.form-header__container p {
  font-size: 1.8rem;
  font-weight: bold;
}
.form-header__container img {
  width: 44rem;
  height: 22rem;
}
.form-content__container form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;
}
.form-content__container form input {
  min-width: calc(100% / 4 - 2rem);
  padding: 0.5rem 0.5rem;
}
.form-content__container form input {
  border: 2px solid #4d6bfc;
  border-radius: 1rem;
  font-weight: bold;
}
.form-checkbox {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.7rem;
}
.form-checkbox div span {
  font-size: 12px;
}
.form-checkbox div:last-child {
  color: #4d6bfc;
  width: 24%;
}
.form-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
}
.form-submit div {
  width: 50%;
  text-align: left;
}
.form-submit h4 {
  font-size: 1.7rem;
}
.form-submit button {
  width: 50%;
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #4d6bfc;
  color: white;
}
.form-submit button:hover {
  cursor: pointer;
  background-color: #002afc;
  transition: 0.5s;
}
/*Smaller desktop screen*/
@media all and (max-width: 1311px) {
  .form-top-text h1 {
    font-size: 3rem;
  }
  .form-top-text p {
    font-size: 1.5rem;
  }
  .form-header__container img {
    width: 580px;
    height: 235px;
  }
  .form-submit div h4 {
    font-size: 1.4rem;
    text-align: justify;
  }
}
/*Tablet screen*/
@media all and (max-width: 1008px) {
  .form-header__container {
    justify-content: space-between;
  }
  .form-header__container img {
    width: 350px;
    height: 168px;
  }
  .form-top-text {
    width: 50%;
  }
  .form-top-text h1 {
    font-size: 2.2rem;
  }
  .form-top-text p {
    font-size: 1.2rem;
  }
  .form-content__container form {
    justify-content: space-between;
  }
  .form-content__container form input {
    flex-direction: column;
    width: calc(100% / 2 - 30px);
  }
  .form-content__container input:nth-child(1) {
    width: 100%;
  }
  .form-content__container input:last-child {
    width: 100%;
  }
  .form-checkbox {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
  }
  .form-checkbox input[type="checkbox"] {
    width: fit-content;
  }
  .form-checkbox div:first-child {
    width: 80%;
    flex-direction: row-reverse;
  }
  .form-checkbox div:last-child {
    width: 100%;
  }
  .form-submit {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .form-submit div {
    width: 100%;
  }
  .form-submit div h4 {
    text-align: center;
  }
  .form-submit button {
    width: 100%;
  }
}
/*Mobile screen*/
@media all and (max-width: 714px) {
  .form-container {
    padding: 1rem 2rem;
  }
  .form-header__container {
    flex-direction: column-reverse;
    padding: 1rem 2rem;
    gap: 0;
    margin-bottom: 1rem;
  }
  .form-header__container div {
    width: 100%;
    text-align: left;
  }
  .form-header__container h1 {
    text-align: left;
  }
  .form-top-image {
    display: flex;
    justify-content: center;
  }
  .form-header__container img {
    width: 100%;
    height: 100%;
  }
  .form-content__container form input {
    width: 100%;
  }
  .form-checkbox div:first-child {
    width: 100%;
  }
  .form-submit {
    margin: 0;
  }
}
