.main-content__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.header-content__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 3rem;
}
